<div class="card-body">
	<h4>Customers List</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>E-Mail</th>
        <th>Phone</th>
        <th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of customers">
				<td>{{customer.name}}</td>
				<td>{{customer.email}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.address}}</td>
			</tr>
			<tr *ngIf="!customers.length">
				<td colspan="4">No Customer(s) found</td>
			</tr>
		</tbody>
	</table>
</div>